<h2> Enter a new response </h2>
<form class="" action="/response_entries" method="post">
<label for="content">Content</label>
<input type="text" name="content" value="">
<input type="submit" name="" value="Create Entry">
</form>
