SHOW PAGE FOR ENTRIES
<p><%= @response_entry.content %></p>

<% if authorized_to_edit?(@response_entry) %>
 <a href="/response_entries/<%= @response_entry.id %>/edit">Edit Entry</a>

 Delete link
 <% end %>
